doctype html
html(lang='en')
  head
    link(rel="stylesheet", href="css/master.css")
    script(src='/js/jquery.js')
    script(src='/js/what-input.js')
    script(src='/js/foundation.js')
  body
    .row
      .small-12.column
        h1 Hello World!
    .row
      .small-4.column 4 columns
      .small-8.column 8 columns
    .row
      .small-12.column
        ul.accordion(data-accordion='')
          li.accordion-item.is-active(data-accordion-item='')
            a.accordion-title(href='#') Accordion 1
          .accordion-content(data-tab-content='')
            p Panel 1. Lorem ipsum dolor
            a(href='#') Nowhere to Go
  script(src='/js/script.js')
  script(src='/js/common.js')
