head
    link(rel="stylesheet", href="css/style.css")
body
    h1 Hello World!
    
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js')
script(src='/js/script.js')
script(src='/js/common.js')
