<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body>

    {{> header }}

    {{> body }}

    {{> footer }}
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/g/foundation@6.2.4(foundation.min.js+js/foundation.accordion.js+js/foundation.abide.js+js/foundation.accordionMenu.js+js/foundation.core.js+js/foundation.drilldown.js+js/foundation.dropdown.js+js/foundation.dropdownMenu.js+js/foundation.equalizer.js+js/foundation.interchange.js+js/foundation.magellan.js+js/foundation.offcanvas.js+js/foundation.orbit.js+js/foundation.responsiveMenu.js+js/foundation.responsiveToggle.js+js/foundation.reveal.js+js/foundation.util.triggers.js+js/foundation.util.touch.js+js/foundation.util.timerAndImageLoader.js+js/foundation.util.nest.js+js/foundation.util.motion.js+js/foundation.util.mediaQuery.js+js/foundation.util.keyboard.js+js/foundation.util.box.js+js/foundation.toggler.js+js/foundation.tooltip.js+js/foundation.slider.js+js/foundation.sticky.js+js/foundation.tabs.js),jquery@3.2.1"></script>
    <!-- <script src="/js/foundation.js"></script> -->
    <script src="/js/script.js"></script>
    <script src="/js/common.js"></script>
  </body>
</html>
